@charset "utf-8";

/* font-face */
@font-face{
	font-family:'NotoSansCJKKr';
	font-weight:300;
	src:url('../font/NotoSansCJKKrL.eot');
	src:url('../font/NotoSansCJKKrL.eot?#iefix') format('embedded-opentype'),
	url('../font/NotoSansCJKKrL.woff') format('woff'),
	url('../font/NotoSansCJKKrL.otf') format('opentype'),
	url('../font/NotoSansCJKKrL.ttf') format('truetype');
	src:local('?'), url('../font/NotoSansCJKKrL.woff') format('woff');
}
@font-face{
	font-family:'NotoSansCJKKr';
	font-weight:400;
	src:url('../font/NotoSansCJKKrR.eot');
	src:url('../font/NotoSansCJKKrR.eot?#iefix') format('embedded-opentype'),
	url('../font/NotoSansCJKKrR.woff') format('woff'),
	url('../font/NotoSansCJKKrR.otf') format('opentype'),
	url('../font/NotoSansCJKKrR.ttf') format('truetype');
	src:local('?'), url('../font/NotoSansCJKKrR.woff') format('woff');
}
@font-face{
	font-family:'NotoSansCJKKr';
	font-weight:500;
	src:url('../font/NotoSansCJKKrM.eot');
	src:url('../font/NotoSansCJKKrM.eot?#iefix') format('embedded-opentype'),
	url('../font/NotoSansCJKKrM.woff') format('woff'),
	url('../font/NotoSansCJKKrM.otf') format('opentype'),
	url('../font/NotoSansCJKKrM.ttf') format('truetype');
	src:local('?'), url('../font/NotoSansCJKKrM.woff') format('woff');
}
@font-face{
	font-family:'NotoSansCJKKr';
	font-weight:700;
	src:url('../font/NotoSansCJKKrB.eot');
	src:url('../font/NotoSansCJKKrB.eot?#iefix') format('embedded-opentype'),
	url('../font/NotoSansCJKKrB.woff') format('woff'),
	url('../font/NotoSansCJKKrB.otf') format('opentype'),
	url('../font/NotoSansCJKKrB.ttf') format('truetype');
	src:local('?'), url('../font/NotoSansCJKKrB.woff') format('woff');
}

/* Accessibility */
.accessibility, .skip, hr, legend, caption{position:absolute;text-indent:-1000em}
/* Reset */
html,body{width:100%;}
/* html{scroll-behavior: smooth;} */

body{font-size:26px;line-height:normal;font-family:'NotoSansCJKKr', 'Arial', AppleSDGothicNeo-Light, 'HelveticaNeue', 'Malgun Gothic', '맑은 고딕', sans-serif;color:#666;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,button,p,blockquote,th,td{margin:0;padding:0;-webkit-text-size-adjust:none}
img,fieldset{border:0}
img{vertical-align:top}
ul,ol,li{list-style:none}
h1,h2,h3,h4,h5,h6{font-weight:normal}
hr{display:none}
a{color:inherit}
a,a:link{color:inherit;text-decoration:none}
em,i,address{font-style:normal;}
legend,caption{display:none;clear:both}
input,textarea,select,button,table{font-size:inherit;font-family:inherit;line-height:inherit}
table{border-collapse:collapse}
textarea,input{outline-color:-moz-use-text-color;outline-style:none;outline-width:medium}
textarea{resize:none}
label{cursor:pointer}
a:visited{color:inherit}
a:hover,a:active{color:inherit;text-decoration:none}
input,select,.btn{vertical-align:middle}
input[type='text']::placeholder,
input[type='text']::-webkit-input-placeholder{opacity:0.6;color:inherit}
input[type='text'].ph_c{padding:0 5px}
input[type='text'].ph_c::placeholder,
input[type='text'].ph_c::-webkit-input-placeholder{text-align:center}
input[type='password']{font-family:Dotum, arial}
input[type='password']::-webkit-input-placeholder{font-family:'NotoSansCJKKr', 'applegothic', '돋움',Dotum, sans-serif !important}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {transition:background-color 5500s ease-in-out 0s}
input{border: none;}
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {transition:background-color 5500s ease-in-out 0s}
select{background: url('../images/common/sel_bg.png') no-repeat center; background-position: right center; border: none;
	-webkit-appearance: none; -moz-appearance: none; appearance: none;}
select:focus{outline: none;}
button[type='button']{cursor:pointer}
button{background: none; border: none;}
figure{padding:0;margin:0}
.hide{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0}
*{max-height:1000000px}
img{max-width:100%}

/* [S] layout */
#wrap{width:720px;overflow:hidden;position:relative;}

/* header */
#header{width:100%;position:fixed;top:0;left:0;transition:0.5s ease all;z-index:100}
#header:after{content:'';display:block;opacity:0;width:100%;height:100%;top:0;left:100%;position:fixed;background:url(../images/common/bg_gnb.png) no-repeat 0 0;background-size:cover;z-index:-1;transition:0.5s all ease-in-out}
#header .header_area{width:100%;height:164px;position:relative;}
#header .header_area.scrolled{background:#fff;}
#header .header_area .logo{position:absolute;left:40px;top:50px;width:214px;height:72px;background:url(../images/common/logo.png) no-repeat 0 0;text-indent:-9999em;overflow:hidden;transition:0.5s ease background;background-size:214px auto}
#header .header_area .logo a{display:block;}
#header .header_area .language_select{position:absolute;right:127px;top:60px;display:none}
#header .header_area .language_select .btn_language{display:block;width:43px;height:45px;overflow:hidden;background:url(../images/common/btn_language.png) no-repeat 0 0;border:none;text-indent:-999em;}
#header .header_area .language_select .list{display:none;position:absolute;width:146px;background:#fff;border:1px solid #e0e0e0;top:64px;left:50%;transform:translateX(-50%);padding:24px 0;color:#757575;text-align:center;letter-spacing:-0.03em;background:#fff;z-index:1}
#header .header_area .language_select .list li + li{margin:20px 0 0}
#header .header_area .language_select .list li a{font-size:24px;font-weight:500;letter-spacing:-0.023em}
#header .header_area .language_select .list li.active a{color:#191c21;}
#header .header_area .btn_gnb{display:block;position:absolute;width:52px;height:44px;right:40px;top:60px;background:none;border:none;text-indent:-9999em;overflow:hidden}
#header .header_area .btn_gnb i{display:block;width:100%;height:4px;background:#444;position:absolute;transition:0.3s all}
#header .header_area .btn_gnb i.i1{top:0;}
#header .header_area .btn_gnb i.i2,
#header .header_area .btn_gnb i.i3{top:50%;left:50%;transform:translate(-50%, -50%)}
#header .header_area .btn_gnb i.i4{bottom:0;}

#header.header_w .header_area .logo{background-image:url(../images/common/logo_w.png);}
#header.header_w .header_area .btn_gnb i{background:#fff}
#header.header_w.gnb_open .header_area .logo,
#header.header_w.scrolled .header_area .logo{background-image:url(../images/common/logo.png)}
#header.header_w.gnb_open .header_area .btn_gnb i,
#header.header_w.scrolled .header_area .btn_gnb i{background:#444}

/* gnb */
#gnb{position:fixed;width:100%;overflow-y:auto;opacity:0;left:100%;top:164px;bottom:0;transition:0.5s all ease-in-out;padding-bottom:50px}
#gnb .nav_1dep{}
#gnb .nav_1dep a{display:block}
#gnb .nav_1dep > li{}
#gnb .nav_1dep > li > a{position:relative;padding:26px 0 8px 60px;font-size:32px;color:#282828;font-weight:500;line-height:60px;}
#gnb .nav_1dep > li > a:after{content:'';display:block;width:29px;height:16px;position:absolute;right:47px;top:45px;background:url(../images/common/arr_gnb.png) no-repeat 0 0;transition:0.3s all ease-in-out}
#gnb .nav_1dep > li.active > a:after{transform:rotate(-180deg)}
#gnb .nav_2dep{display:none;background:#f5f8fb;padding:7px 0 17px;}
#gnb .nav_2dep > li{padding:10px 0 10px 90px}
#gnb .nav_2dep > li > a{font-size:28px;color:#757575;letter-spacing:-0.0 55em;line-height:45px;}

#header.gnb_open:after{opacity:1;left:0;}
#header.gnb_open .header_area .btn_gnb{}
#header.gnb_open .header_area .btn_gnb .i1,
#header.gnb_open .header_area .btn_gnb .i4{opacity:0;}
#header.gnb_open .header_area .btn_gnb .i2{width:60px;transform:translate(-50%, -50%) rotate(45deg)}
#header.gnb_open .header_area .btn_gnb .i3{width:60px;transform:translate(-50%, -50%) rotate(-45deg)}
#header.gnb_open #gnb{left:0;opacity:1;}
#header.scrolled{background:#fff}
#header .copy{margin:50px 0 0 60px;font-size:18px;letter-spacing:-0.05em;color:#999;}

/* footer */
#footer{padding:0 40px 62px}
#footer .footer_top{position:relative;padding:65px 0 0;}
#footer .footer_top .logo img{width:239px}
#footer .footer_top .footer_link{position:absolute;right:0;top:85px;}
#footer .footer_top .footer_link a{margin-left:15px;font-size:20px;font-weight:700;letter-spacing:-0.05em;line-height:39px}
#footer .footer_txt{font-size:18px;color:#999;line-height:28px;letter-spacing:-0.05em}
#footer .footer_txt .address{margin:56px 0 35px;font-size:24px;line-height:38px;color:#666;letter-spacing:-0.05em}
#footer .footer_txt .copy{margin-top:10px}

/* visual */
#visual{height:600px;background:url(../images/intro/bg_visual.jpg) no-repeat 0 0}
#visual .visual_txt{text-align:center;color:#fff;padding:283px 0 0}
#visual .visual_txt h2{font-size:80px;font-weight:700;letter-spacing:-0.05em;line-height:1em;transform:translate3d(0,50px,0)}
#visual .visual_txt h2.aos-animate{transform:translateY(0)}
#visual .visual_txt p{margin-top:34px;font-size:24px;letter-spacing:-0.05em;color:#fefefe;transform:translate3d(0,50px,0)}
#visual .visual_txt p.aos-animate{transform:translateY(0)}

/* snb */
#snb{overflow-x:auto;padding:0 20px;border-bottom:1px solid #eee}
#snb .snb_wrap{font-size:0;white-space:nowrap;text-align: center;}
#snb .snb_wrap li{display:inline-block;padding:0 20px;}
#snb .snb_wrap li a{display:block;height:110px;position:relative;font-size:28px;color:#999;text-align:center;line-height:110px;}
#snb .snb_wrap li.on a{color:#0071d7;font-weight:700}
#snb .snb_wrap li.on a:after{content:'';display:block;width:100%;height:3px;position:absolute;left:0;bottom:-1px;background:#0071d7}

/* btn_gotop */
#btn_gotop{position:fixed;bottom:20px;right:40px;text-align:center;z-index:2;opacity:0;transition:0.3s ease opacity}
#btn_gotop a{display:block;width:100px;height:100px;border:2px solid #0193dc;background:#fff url(../images/common/ico_gotop.png) no-repeat center 17px;border-radius:50%;box-sizing:border-box;padding:50px 0 0;font-size:24px;letter-spacing:-0.05em;}
#btn_gotop.on{position:absolute;bottom:630px}
/* [E] layout */

/* [S] module */
.section > .inner{padding:0 40px;}
.section > .inner_w{padding:0;}

/* page_title_area */
.page_title_area{padding:110px 0 51px;text-align:center}
.page_title_area.first{padding-top:90px;}
.page_title_area .title{font-size:60px;font-weight:700;letter-spacing:-0.05em;color:#222;line-height:76px;}
.page_title_area .text{margin-top:24px;font-size:26px;color:#222;line-height:38px;color:#222;letter-spacing:-0.05em;;}
.page_title_area .text.gray{color:#666}

.tab_wrap{}
.tab_wrap .tab_btn{}
.tab_wrap .tab_btn ul:after{content:'';display:table;clear:both}
.tab_wrap .tab_btn ul li{float:left;margin:-1px -1px 0 0;border:1px solid #e5e5e5;box-sizing:border-box;background:#fff}
/* .tab_wrap .tab_btn ul li a{display:block;height:82px;line-height:82px;text-align:center;position:relative;box-sizing:border-box;letter-spacing:-0.05em;color:#999} */
.tab_wrap .tab_btn ul li a{display:flex;align-items: center;justify-content: center; height:82px;text-align:center;position:relative;box-sizing:border-box;letter-spacing:-0.05em;color:#999}
.tab_wrap .tab_btn ul li.on a{border:2px solid #0071d7;z-index:1;font-weight:700;color:#0071d7;margin:-1px;height:84px;}
.tab_wrap .tab_btn ul.ea2 li{width:50%}
.tab_wrap .tab_btn ul.ea3 li{width:33.3%}
.tab_wrap .tab_btn ul.ea4 li{width:25%}
.tab_wrap .tab_container{}
.tab_wrap .tab_container .tab_cont{display:none}
.tab_wrap .tab_container .tab_cont.on{display:block}

/* search */
.search{border-bottom: 2px solid #c9c9c9; height: 64px; box-sizing: border-box; padding: 15px 0; display: flex;}
.search select{width: 160px; font-size: 26px; color: #444; font-weight: 500; margin-right: 30px;}
.search input{width: 400px;}
.search input::placeholder{font-size: 26px; color: #999; font-weight: 500; padding: 0 25px;}
.search button{width: 30px; height: 30px; display: flex; align-items: center; justify-content: center;}

/* paging_num */
.paging_num{display: flex; align-items: center; justify-content: center; margin-top: 50px;}
.paging_num>div{display: flex; align-items: center; margin: 0 15px;}
.paging_num>div.btn a{width: 15px; height: 15px; margin: 0 20px; display: flex;}
.paging_num>div.number a{color: #999; font-size: 24px; margin: 0 20px;}
.paging_num>div.number a.active{color: #0071d7;}


/* save_item */
.save_item{background: #f8f8f8; padding: 40px 20px; display: flex; align-items: center;}
.save_item a.save_link{font-size: 20px; font-weight: 400; color: #444; letter-spacing: -0.05em; margin-right:10px; display: flex;}
.save_item a.save_link .save_icon{width: 30px; height: 30px; margin-right: 10px;}
.save_item .item_info p{font-size: 20px; font-weight: 400; color: #999; letter-spacing: -0.05em;}


/* banner */
.banner{text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.banner{background: url('../images/pr/awards_banner.jpg') no-repeat 0 0; width: 720px; height: 436px; background-size: 720px 436px;}/* 각 배너마다 background 넣기 */
.banner h3{font-size: 35px; color: #fff; font-weight: bold;}
.banner h3 span{text-decoration: underline; text-underline-position: under;}
.banner p{font-size: 26px; font-weight: 400; color: #fff; margin-top: 20px; line-height: 38px; letter-spacing: -0.05em;}

/* map_view_type01 */
.map_view_type01 .map_area{}
.map_view_type01 .info_list{padding:60px 0 0}
.map_view_type01 .info_list h3{padding:0 0 26px;;font-size:40px;color:#222;font-weight:700;letter-spacing:-0.05em;text-align:center;line-height:1em}
.map_view_type01 .info_list ul{border-top:1px solid #e5e5e5;padding:30px 0 0;}
.map_view_type01 .info_list ul li{display:table;width:100%;}
.map_view_type01 .info_list ul li + li{margin-top:30px;}
.map_view_type01 .info_list ul li em{display:table-cell;width:211px;height:73px;padding:10px 0 25px 90px;box-sizing:border-box;font-size:24px;line-height:34px;letter-spacing:-0.05em;color:#444;font-weight:700;position:relative}
.map_view_type01 .info_list ul li em:after{content:'';display:block;width:90px;height:55px;position:absolute;left:0;top:0;background-repeat:no-repeat;background-position:center center;}
.map_view_type01 .info_list ul li p{display:table-cell;box-sizing:border-box;font-size:24px;line-height:34px;letter-spacing:-0.05em;color:#444;position:relative;}
.map_view_type01 .info_list ul li.address em:after{background-image:url(../images/common/ico_info_address.png)}
.map_view_type01 .info_list ul li.wayto em:after{background-image:url(../images/common/ico_info_wayto.png)}
.map_view_type01 .info_list ul li.phone em:after{background-image:url(../images/common/ico_info_phone.png)}
.map_view_type01 .info_list ul li.fax em:after{background-image:url(../images/common/ico_info_fax.png)}
.map_view_type01 .info_list ul li.site em:after{background-image:url(../images/common/ico_info_site.png)}
.map_view_type01 .info_list ul li.site p{font-size:21px}
.map_view_type01 .info_list ul li.site p a{display:block;height:39px;padding:0 12px 0 14px;position:absolute;top:50%;right:-5px;margin-top:-28px;background:#eee;line-height:39px;font-size:21px;color:#666;letter-spacing:-0.05em;}
.map_view_type01 .info_list ul li.site p a:after{content:'';display:inline-block;width:15px;height:14px;vertical-align:middle;background:url(../images/intro/ico_btngo_arr.png) no-repeat 0 0;margin-left:9px;}

/* table_list_type01 */
.table_list_type01{}
.table_list_type01 .table_unit{margin-bottom:15px;text-align:right;font-size:20px;color:#999;letter-spacing:-0.05em}
.table_list_type01 table{width:100%;border-top:2px solid #222;table-layout:fixed;}
.table_list_type01 table th,
.table_list_type01 table td{padding:19px 20px 18px;border-right:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;font-size:24px;color:#444;letter-spacing:-0.05em;}
.table_list_type01 table tr th:last-child,
.table_list_type01 table tr td:last-child{border-right:none}
.table_list_type01 table tbody tr:last-child td,
.table_list_type01 table tbody tr:last-child th{border-bottom: 1px solid #222;}
.table_list_type01 table thead th{padding:17px 0 18px;text-align:center;background:#f8f8f8;}
.table_list_type01 table tbody tr.bg_b{background: #f4f9fd;}
.table_list_type01 table tbody tr.bg_b th{font-weight: 700; border-bottom: 1px solid #222;}
.table_list_type01 table tbody tr.bg_b td{font-weight: 700; border-bottom: 1px solid #222;}
.table_list_type01 table tbody th{text-align:center;font-weight:400;}
.table_list_type01 table tbody td{text-align:center}
.table_list_type01 table tbody td.ta_r{text-align:right}

/* list_thumb_type01 */
.list_thumb_type01{margin-top:80px}
.list_thumb_type01 ul:after{content:'';display:table;clear:both;}
.list_thumb_type01 ul li{float:left;height:473px;width:305px;margin-left:30px}
.list_thumb_type01 ul li:nth-child(2n-1){margin-left:0;}
.list_thumb_type01 ul li .img{font-size:0}
.list_thumb_type01 ul li .text{margin:30px 0 0;}
.list_thumb_type01 ul li .select_division{font-size:0;}
.list_thumb_type01 ul li .select_division p{display:inline-block;border:1px solid #444;font-size:20px;line-height:28px;color:#444;letter-spacing:-0.05em;padding:0 9px;}
.list_thumb_type01 ul li .select_division p.corporation{background:#444;color:#fff}
.list_thumb_type01 ul li .text .tit{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;max-height:76px;margin-top:19px;font-size:28px;line-height:38px;letter-spacing:-0.05em;color:#222;font-weight:700;word-break:break-word;overflow:hidden;text-overflow:ellipsis;}
.list_thumb_type01 ul li .text .date{margin-top:13px;font-size:20px;color:#999;letter-spacing:-0.05em}

/* popup_wrap */
.popup_wrap{display:none;width:100%;height:100%;position:fixed;left:0;top:0;bottom:0;z-index:100;overflow-y:auto;background:rgba(0,0,0,0.3);}
.popup_wrap .div_table{display:table;width:100%;height:100%;vertical-align:middle;}
.popup_wrap .div_table_cell{display:table-cell;vertical-align:middle;box-sizing:border-box;text-align:center;}
.popup_wrap .popup_content{max-width:100%;margin:0 auto;padding:80px 40px;position:relative;background:#fff;box-sizing:border-box;text-align:left;}
.popup_wrap .pop_title{margin-bottom:55px;font-size:50px;line-height:60px;color:#222;font-weight:700;letter-spacing:-0.05em;text-align:center;}
.popup_wrap .pop_stitle{margin:30px 0 10px;font-size:15px;font-weight:700;}
.popup_wrap .btn_box{padding:10px 0}
.popup_wrap .popup_close{margin:80px auto 0;display:block;width:91px;height:91px;background:#222 url(../images/common/btn_close_pop.png) no-repeat center center;overflow:hidden;text-indent:-9999em;}
/* 
.popup_open{display:inline-block;cursor:pointer;}
.popup_close{display:inline-block;cursor:pointer;}
.btn_popup_close{display:inline-block;cursor:pointer;} */

/* page_table */
.page_table{margin-top: 70px;}
.page_table .paging{display: flex; align-items: center; }
.page_table .paging p{font-size: 24px; color: #444; font-weight: 400;}
.page_table .paging p span{font-weight: bold; color: #0071d7;}
.page_table .paging i{position: relative; margin: 0 15px; font-size: 0;}
.page_table .paging i:after{position: absolute; right: 0; top: 50%; content: ''; display: block; width: 1px; height: 20px; background-color: #dadada; border: none;
-moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-o-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);}
.page_table ul{margin-top: 20px; border-top: 3px solid #222;}
.page_table ul li{border-bottom: 1px solid #ebebeb; padding: 35px 20px; background: #fff;}
.page_table ul li.notice{background: #f8f8f8}
.page_table ul li .tit{font-size: 26px; font-weight: 600; color: #222;}
.page_table ul li .date{margin-top: 10px; font-size: 20px; color: #999; font-weight: 500;}
.page_table ul li .date span.new_icon{color: #0071d7; margin-right: 10px;}
.page_table ul li .date a{font-size: 17px; color: #222; margin-left: 10px;}

.view_board_pager>div{padding: 30px 20px; display: flex; align-items: center; }
.view_board_pager>div.prev_page{border-bottom: 2px solid #eee;}
.view_board_pager>div .list_btn{width: 20px; display: flex; align-items: center;}
.view_board_pager>div.next_page .list_btn{transform:rotate(180deg);}
.view_board_pager>div .list_tit{margin: 0 50px 0 20px;}
.view_board_pager>div .list_tit p{font-size: 24px; color: #999; font-weight: 400; letter-spacing: -0.05em;}
/* [S] 2022-03-17 [mprd] 추가  */
.view_board_pager>div .list_cont{max-width: 440px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
/* [E] 2022-03-17 [mprd]  */
.view_board_pager>div .list_cont a{font-size: 24px; color: #444; font-weight: 400; letter-spacing: -0.05em;}
.view_board_pager>div.none .list_cont a{color: #999;}
.view_list a{width: 270px; height: 86px; margin: 60px auto 0; border: 1px solid #222; border-radius: 50px; display: flex; align-items: center; justify-content: center; font-size: 26px; font-weight: 500; color: #444; letter-spacing: -0.05em;}


/* [E] module */

/* [S] page */

/* [E] page */