/* reset css */

@font-face{
	font-family:'NotoSansCJKKr';
	font-weight:300;
	src:url('../font/NotoSansCJKKrL.eot');
	src:url('../font/NotoSansCJKKrL.eot?#iefix') format('embedded-opentype'),
	url('../font/NotoSansCJKKrL.woff') format('woff'),
	url('../font/NotoSansCJKKrL.otf') format('opentype'),
	url('../font/NotoSansCJKKrL.ttf') format('truetype');
	src:local('?'), url('../font/NotoSansCJKKrL.woff') format('woff');
}
@font-face{
	font-family:'NotoSansCJKKr';
	font-weight:400;
	src:url('../font/NotoSansCJKKrR.eot');
	src:url('../font/NotoSansCJKKrR.eot?#iefix') format('embedded-opentype'),
	url('../font/NotoSansCJKKrR.woff') format('woff'),
	url('../font/NotoSansCJKKrR.otf') format('opentype'),
	url('../font/NotoSansCJKKrR.ttf') format('truetype');
	src:local('?'), url('../font/NotoSansCJKKrR.woff') format('woff');
}
@font-face{
	font-family:'NotoSansCJKKr';
	font-weight:500;
	src:url('../font/NotoSansCJKKrM.eot');
	src:url('../font/NotoSansCJKKrM.eot?#iefix') format('embedded-opentype'),
	url('../font/NotoSansCJKKrM.woff') format('woff'),
	url('../font/NotoSansCJKKrM.otf') format('opentype'),
	url('../font/NotoSansCJKKrM.ttf') format('truetype');
	src:local('?'), url('../font/NotoSansCJKKrM.woff') format('woff');
}
@font-face{
	font-family:'NotoSansCJKKr';
	font-weight:700;
	src:url('../font/NotoSansCJKKrB.eot');
	src:url('../font/NotoSansCJKKrB.eot?#iefix') format('embedded-opentype'),
	url('../font/NotoSansCJKKrB.woff') format('woff'),
	url('../font/NotoSansCJKKrB.otf') format('opentype'),
	url('../font/NotoSansCJKKrB.ttf') format('truetype');
	src:local('?'), url('../font/NotoSansCJKKrB.woff') format('woff');
}

/* [S] 2022-03-07 [mprd] */
*{
	font-family:'NotoSansCJKKr', 'Arial', AppleSDGothicNeo-Light, 'HelveticaNeue', 'Malgun Gothic', '맑은 고딕', sans-serif;
  letter-spacing: -2px;
  color: #222;
  margin: 0;
  padding: 0;
}
/* [S] 2022-03-07 [mprd] */
a{
  text-decoration: none;
}
ul, ol{
  list-style: none;
}
img{
  width: 100%;
}
button{
  cursor: pointer;
  background: none;
  border: none;
}
table{
  border-top: 2px solid #222;
  border-collapse: collapse;
}
select{
  border: none;
  cursor: pointer;
}
select:focus{
  outline: none;
}
input{
  border: none;
}
input:focus{
  outline: none;
}
section{width: 100%; min-width: 1400px; margin: 0 auto;}

html{scroll-behavior: smooth;}

textarea{resize: none;}
textarea:focus{outline: none;}

/* reset e */

.section{position: relative;}
.section_cont{width: 100%;}
.contents{padding-top: 110px;}
.hidden {overflow:hidden;}


.visual{height: 460px; max-width: 1903px; margin: 0 auto; display: flex; align-items: center; justify-content: center; background-position: center;}
.visual .visual_txt{text-align: center;}
.visual .visual_txt h1{font-weight: bold; font-size: 55px; color: #fff;}
.visual .visual_txt p{font-size: 20px; color: #fff; margin-top: 15px;}


.sub_section_tit{text-align: center;}
.sub_section_tit h1{font-size: 45px; font-weight: bold;}
.sub_section_tit p{font-size: 20px; margin-top: 30px; color: #666;}


.cont_tit {border-bottom: 1px solid #eee;}
.cont_tit .cont_tit_center{display: flex; align-items: center; justify-content: center; height: 80px;}
.cont_tit .cont_tit_center a{margin-left: 75px; color: #999; font-size: 20px; font-weight: 500;}
.cont_tit .cont_tit_center a:first-child{margin-left: 0px;}
.cont_tit .cont_tit_center a.active{color: #0071d7; position: relative;}
.cont_tit .cont_tit_center a.active:after{position: absolute; display: block; content: ''; border-bottom: solid 3px #0071d7; padding-bottom: 23px; transform-origin: 50% 0%; width: -webkit-fill-available;}

/* 회사소개 cont_tit */
.intro_cont_tit {border-bottom: 1px solid #eee;}
.intro_cont_tit .cont_tit_center{display: flex; align-items: center; justify-content: center; height: 80px;}
.intro_cont_tit .cont_tit_center a{margin-left: 75px; color: #999; font-size: 20px; font-weight: 500;}
.intro_cont_tit .cont_tit_center a:first-child{margin-left: 0px;}
.intro_cont_tit .cont_tit_center a.active{color: #0071d7; position: relative;}
.intro_cont_tit .cont_tit_center a.active:after{position: absolute; display: block; content: ''; border-bottom: solid 3px #0071d7; padding-bottom: 23px; transform-origin: 50% 0%; width: -webkit-fill-available;}



/* 브레드 크럼 */
.bread_crumbs{width: 1400px; margin: 25px auto 0;}
.bread_crumbs .bread_cont{display: flex; align-items: center; justify-content: flex-end;}
.bread_crumbs .bread_h{width: 11px; height: 11px; display: flex; align-items: center; }
.bread_crumbs .bread_sub{border: none; background: url('../images/bread_a.png') no-repeat; background-position: left center; padding: 0 15px;}
.bread_crumbs .bread_sub01{margin-left: 10px;}
.bread_crumbs .bread_sub p{font-size: 14px; color: #999;}
.bread_crumbs .bread_sub:focus{outline: none;}


/* banner */
.banner{background-size: 1903px 500px; max-width: 1903px; height: 500px; margin: 0 auto; background-position: center; text-align: center; display: flex; align-items: center; justify-content: center; margin-top: 120px;}
.banner h1{color: #fff; font-size: 40px; font-weight: 400;}
.banner h1 span{font-weight: bold; color: #fff; text-decoration: underline;
text-underline-position: under;}


/* 탑 버튼 */
.scroll_top{position: fixed; bottom: 50px; right: 50px; width: 60px; height: 60px; z-index: 999; transition: opacity 1s; opacity: 0; display: none;}
.scroll_top .top_btn{background: url('../images/top_btn_off.png')no-repeat; transition: all 0.3s; width: 61px; height: 61px; cursor: pointer;}
.scroll_top .top_btn:hover{background: url('../images/top_btn_on.png')no-repeat; transition: all 0.3s;}

.scroll_top.on {position: absolute; bottom: 650px;}


table tr{border-bottom: 1px solid #e5e5e5;}
table tr.bc_blue{background: #f4f9fd;}
table tr.bc_gray{background: #f8f8f8;}
table tr.bb_gray{border-bottom: 1px solid #e5e5e5 !important;}
table tr td.t_bold{font-weight: bold !important;}
table tr td{border: 1px solid #e5e5e5;}
table tr td:first-child{border-left: none;}
table tr td:last-child{border-right: none;}
table tr td.border_b{border-bottom: 1px solid #222;}
table tr td.br_gray{border-right: 1px solid #999;}
table tr td.bc_gray{background: #f1f3f6;}
table tr td.center{text-align: center;}
table tr td.right{text-align: right;}