
section{width: 100%; min-width: 1640px; margin: 0 auto;}


.section_tit{text-align: center;}
.section_tit h1{font-size: 45px; font-weight: bold;}

.main{min-width: 1640px; margin: 0 auto; position: relative;}


/* kv s */
.kv .swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow:hidden}

.kv .swiper-slide img {
  display: block;
  object-fit: cover;
}
.kv {max-width: 1903px; margin: 0 auto; overflow: hidden;}
.kv .swiper-slide{position: relative; min-width: 1400px; height: 920px;}
.kv .swiper-slide.kv_slide01{background: url('../images/main/kv01.jpg'); background-position: center; background-repeat: no-repeat;}
.kv .swiper-slide.kv_slide02{background: url('../images/main/kv02.jpg'); background-position: center; background-repeat: no-repeat;}
.kv .swiper-slide.kv_slide03{background: url('../images/main/kv03.jpg'); background-position: center; background-repeat: no-repeat;}
.kv .swiper-slide.kv_slide04{background: url('../images/main/kv04.jpg'); background-position: center; background-repeat: no-repeat;}
.kv .swiper-slide.kv_slide05{background: url('../images/main/kv05.jpg'); background-position: center; background-repeat: no-repeat;}
.kv .swiper-slide [data-aos="fade-up"] {opacity: 0; transform: translate(0, 100px); -webkit-transform: translate(0, 100px); -moz-transform: translate(0, 100px); -ms-transform: translate(0, 100px); -o-transform: translate(0, 100px); }
.kv .swiper-slide-active [data-aos="fade-up"]{opacity: 1; transform: translate(0, 0);/* -webkit-transform: translate(0,0); */-moz-transform: translate(0,0);-ms-transform: translate(0,0);-o-transform: translate(0,0);}
.kv .swiper-slide .kv_txt{text-align: center; min-width: 1400px; margin-bottom: 100px;}
.kv .swiper-slide .kv_txt h1{font-size: 70px; font-weight: 400; line-height: 80px;}
.kv .swiper-slide .kv_txt h1.txt_w{color: #fff;}
.kv .swiper-slide .kv_txt h1.txt_b{color: #222;}
/* .kv .swiper-slide .kv_txt p{font-size: 22px; font-weight: 300; color: #666; margin-top: 30px;} */
.kv .swiper-pagination-bullet{width: 19%; height: 2px; border-radius: 2px; background-color: #fff;}
.swiper-pagination{min-width: 1400px; margin: 0 auto; bottom: 30px;}
.kv .swiper-horizontal>.swiper-pagination-bullets, .kv .swiper-pagination-bullets.swiper-pagination-horizontal, .kv .swiper-pagination-custom, .kv .swiper-pagination-fraction{width: 1400px; left: 50%; transform: translate(-50%, 0);}

/* [S] 2022-03-07 [mprd]  */
.kv .swiper-slide.video_type .bg_video{position:absolute;min-width:1920px;min-height:920px;left:50%;top:50%;transform:translate(-50%, -50%)}
.kv .swiper-slide.video_type .bg_video video{width:100%;height:100%}
/* [E] 2022-03-07 [mprd]  */

/* kv e */


/* business s */
/*
.business .swiper-slide {
  /* Center slide text vertically
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
*/

.business .swiper-slide img {
  display: block;
/*   object-fit: cover; */
}

.business{background: url('../images/main/business_bg.jpg'); max-width: 1903px;height: 1820px; margin: 0 auto; padding-top: 100px; box-sizing: border-box;overflow:hidden;position:relative;}
.business .mySwiper{min-width:1640px;position:relative;}
.business .mySwiper .business_tit{margin-bottom: 50px;}
.business .mySwiper .swiper-slide{}
.business .mySwiper .business_slide{width:1400px;margin:0 auto;position:relative;}
.business .mySwiper .business_slide:after{content:'';display:table;clear:both}
.business .mySwiper .business_slide .business_img{width:970px;}
.business .mySwiper .business_slide .business_txt{position:absolute;top:70px;left:1010px;}
.business .mySwiper .business_slide .business_txt h1{font-size: 79px; color: #eceff2; font-weight: bold; letter-spacing: -0.05em; line-height: 85px;}
.business .mySwiper .slide03.business_slide .business_txt h1{margin-top: -30px;}
.business .mySwiper .slide05.business_slide .business_txt h1{margin-top: -30px;}
.business .mySwiper .business_slide .business_cont{width: 500px; height: 420px; position: absolute; bottom: 0; right: 0; box-sizing: border-box; padding: 80px 0 0 67px; }
.business .mySwiper .business_slide .business_cont h2{font-size: 50px; color: #fff;  font-weight: 400; line-height: 50px;}
.business .mySwiper .business_slide .business_cont p{margin-top: 36px; font-size: 18px;  color: #fff; line-height: 28px; font-weight: 400;}
.business .mySwiper .business_slide .business_cont a{display: block; font-size: 16px; color: rgba(255,255,255,.5); letter-spacing: 0.5px; position: absolute; left: 67px; bottom: 50px;}
.business .mySwiper .slide01.business_slide .business_cont{background: #00437f;}
.business .mySwiper .slide02.business_slide .business_cont{background: #e97641;}
.business .mySwiper .slide03.business_slide .business_cont{background: #232323;}
.business .mySwiper .slide04.business_slide .business_cont{background: #008a41;}
.business .mySwiper .slide05.business_slide .business_cont{background: #733f2f;}
.business .mySwiper .slide06.business_slide .business_cont{background: #0a99bd;}
.business .mySwiper .swiper-slide .business_txt[data-aos="fade-left"] {opacity: 0; transform: translate(100px, 0); -webkit-transform: translate(100px, 0); -moz-transform: translate(100px, 0); -ms-transform: translate(100px, 0); -o-transform: translate(100px, 0); }
.business .mySwiper .swiper-slide-active .business_txt[data-aos="fade-left"]{opacity: 1; transform: translate(0, 0);/* -webkit-transform: translate(0,0); */-moz-transform: translate(0,0);-ms-transform: translate(0,0);-o-transform: translate(0,0);}

.business .business_thumb{padding:50px 0 30px}
.business .business_thumb ul{display:flex;justify-content:center; }
.business .business_thumb li{width: 70px; height: 130px; -webkit-filter: grayscale(100%);filter: grayscale(100%); border-radius: inherit; opacity: 0.5;filter: contrast(0%);background-size: 70px 100px;margin:0 50px;text-indent:-999em;overflow:hidden;position:relative;}
.business .business_thumb li a{display:block;width:100%;height:100%}

.business .business_thumb li:nth-child(1){background: url('../images/main/business_tab01.png') no-repeat;}
.business .business_thumb li:nth-child(2){background: url('../images/main/business_tab02.png') no-repeat;}
.business .business_thumb li:nth-child(3){background: url('../images/main/business_tab03.png') no-repeat;}
.business .business_thumb li:nth-child(4){background: url('../images/main/business_tab04.png') no-repeat;}
.business .business_thumb li:nth-child(5){background: url('../images/main/business_tab05.png') no-repeat;}
.business .business_thumb li:nth-child(6){background: url('../images/main/business_tab06.png') no-repeat;}

.business .business_thumb li.active{-webkit-filter: grayscale(0);filter: grayscale(0); opacity: 1; filter: contrast(100%);}
.business .business_thumb li.active:before { content: ""; position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 0); display:block;
width:0; height:0;
border-bottom: 4px solid transparent;
border-left: 6px solid transparent;
border-right: 6px solid transparent;}

.business .business_thumb li.active:nth-child(1)::before{border-top: 11px solid #0071d7;}
.business .business_thumb li.active:nth-child(2)::before{border-top: 11px solid #e97641;}
.business .business_thumb li.active:nth-child(3)::before{border-top: 11px solid #232323;}
.business .business_thumb li.active:nth-child(4)::before{border-top: 11px solid #008a41;}
.business .business_thumb li.active:nth-child(5)::before{border-top: 11px solid #733f2f;}
.business .business_thumb li.active:nth-child(6)::before{border-top: 11px solid #0a99bd;}

.business .swiper-button-next, .business .swiper-button-prev {
  width: 75px;
  height: 75px;
  top: inherit;
  bottom: 0;
  left:50%
}
/* 2022-03-10 */
.business .swiper-button-next{background: url("../images/main/business_btn_next.png") no-repeat;margin-left:125px}
.business .swiper-button-prev{background: url("../images/main/business_btn_prev.png") no-repeat;margin-left:50px}

.business .swiper-button-next::after,
.business .swiper-button-prev::after {
  display: none;
}

/* business e */

/* business sub */
.business_sub{margin-top: 150px;}
.business_sub .business_sub_tit{text-align: center;}
.business_sub .business_sub_tit h2{font-size: 45px; line-height: 60px; font-weight: 400;}
.business_sub .business_sub_tit p{font-size: 20px; color: #666; font-weight: 300; letter-spacing: -1px; margin-top: 20px;}
.business_sub .business_cont{display: flex; align-items: flex-end; justify-content: space-around; width: 1400px; margin: 80px auto 0;}
.business_sub .business_sub_cont{text-align: center; width: 390px; border-right: 1px solid #eee;}
.business_sub .business_sub_cont:last-child{border-right: none;}
.business_sub .business_sub_cont_img{width: 80px; height: 80px; margin: 0 auto;}
.business_sub .business_sub_cont_txt p{font-size: 18px; color: #666; font-weight: 400; margin: 15px 0;}
.business_sub .business_sub_cont_txt h1{font-size: 24px; font-weight: 400; line-height: 60px;}
.business_sub .business_sub_cont_txt h1 span{font-size: 60px; font-weight: bold;}
/* business sub e */

/* recruit s */

.recruit {background: url('../images/main/recruit_bg.jpg') no-repeat; background-size: 1920px 599px; max-width: 1903px; margin: 0 auto; height: 599px;}
.recruit .recruit_cont{display: flex; align-items: center; justify-content: space-between; width: 1400px; margin: 0 auto; padding: 100px 0; box-sizing: border-box; flex-wrap: wrap; }
.recruit .recruit_cont .recruit_contbox{width: 455px; height: 190px; border: 1px solid #fff; box-sizing: border-box; padding: 40px; color: #fff; display: block;
transition: transform .35s;
-o-transition: transform .35s;
-moz-transition: transform .35s;
-webkit-transition: transform .35s;}
.recruit .recruit_cont .recruit_contbox:hover{
  -webkit-transform:scale(1.05); /*  크롬 */
  -moz-transform:scale(1.05); /* FireFox */
  -o-transform:scale(1.05); /* Opera */
  transform:scale(1.05);
  transition: transform .35s;
  -o-transition: transform .35s;
  -moz-transition: transform .35s;
  -webkit-transition: transform .35s;}
.recruit .recruit_cont .recruit_contbox:first-child:hover,
.recruit .recruit_cont .recruit_contbox:last-child:hover{
  -webkit-transform:scale(1); /*  크롬 */
  -moz-transform:scale(1); /* FireFox */
  -o-transform:scale(1); /* Opera */
  transform:scale(1);
}

.recruit .recruit_cont .recruit_contbox:first-child,
.recruit .recruit_cont .recruit_contbox:last-child{border: none;}
.recruit .recruit_cont .recruit_contbox:nth-child(4),
.recruit .recruit_cont .recruit_contbox:nth-child(5),
.recruit .recruit_cont .recruit_contbox:nth-child(6){margin-top: 20px;}

.recruit .recruit_cont .recruit_contbox h1{font-size: 45px; font-weight: bold; color: #fff; line-height: 45px;}
.recruit .recruit_cont .recruit_contbox h2{font-size: 26px; font-weight: bold; color: #fff;}
.recruit .recruit_cont .recruit_contbox p{font-size: 20px; color: #fff; margin-top: 48px; text-align: right;}
.recruit .recruit_cont .recruit_contbox:first-child p{text-align: left; margin-top: 20px;}
.recruit .recruit_cont .recruit_contbox p span{text-align: right; color: #fff; font-size: 16px;}
/* recruit e */

/* about s */
.about{min-width: 1400px; margin: 140px auto 200px;}
.about .about_cont{width: 1400px; margin: 80px auto 0; display: flex; align-items: center; justify-content: space-between;}
.about .about_cont_tit p{font-size: 18px; color: #273646; font-weight: 400;}
.about .about_cont_tit hr{width: 20px; height: 2px; background: #273646; border: none; margin: 25px 0;}
.about .about_cont_tit h3{font-size: 32px; font-weight: 400;}
.about .about_cont_tit h3 span{font-weight: bold; color: #0071d7; text-decoration: underline; text-underline-position: under;}
.about .about_contbox{width: 960px; display: flex;}
.about .about_img{width: 320px; height: 510px; box-sizing: border-box; padding: 65px 40px; display: flex; justify-content: flex-end; flex-direction: column;}
.about .about_img01{background: url('../images/main/about01.jpg')no-repeat; margin-top: 50px;}
.about .about_img02{background: url('../images/main/about02.jpg')no-repeat;}
.about .about_img03{background: url('../images/main/about03.jpg')no-repeat; margin-top: 50px;}
.about .about_img h2{font-size: 32px; color: #fff; font-weight: bold;}
.about .about_img p{font-size: 16px; color: #fff; font-weight: bold; letter-spacing: -1px; margin-top: 20px;}

/* about e */

/* news s */

.news{width: 100%; min-width: 1400px; background: #f0f0f0;}
.news .news_cont{margin: 0 auto; width: 1400px; display: flex; justify-content: space-between;}
.news .news_cont>div{width: 650px; box-sizing: border-box; margin: 80px 0;}
.news .news_cont>div:first-child{width: 700px; padding-right: 50px; border-right: 1px solid #d9d9d9;}
.news .news_cont_tit{display: flex; justify-content: space-between; margin-bottom: 35px;}
.news .swiper{overflow-y: auto; overflow-x: hidden; height: 140px;position:relative;}

.news .news_post .swiper-slide h3{font-size: 18px; font-weight: 400; line-height: 28px; text-align: left;}
.news .news_post .swiper-slide p{font-size: 14px; font-weight: 400; color: #999; text-align: left;}

.news .disclo_infor_tit{display: flex; justify-content: space-between;}
.news .disclo_infor .swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: left;
  align-items: left;
  width: 325px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.news .disclo_infor .swiper-slide h3{font-size: 18px; font-weight: 400; line-height: 28px; text-align: left;}
.news .disclo_infor .swiper-slide p{font-size: 14px; font-weight: 400; color: #999; text-align: left;}
.news .swiper-button-next, .news .swiper-button-prev {
  width: 40px;
  height: 40px;
  top: inherit;
  bottom: 0;
  top: 120px;
}
.news .swiper-button-next{background: url("../images/box_next_btn.png") no-repeat; left: 40px;}
.news .swiper-button-prev {background: url("../images/box_prev_btn.png") no-repeat; left: 0;}

.news .swiper-button-next::after,
.news .swiper-button-prev::after {
  display: none;
}
/* news e */

/* intro s */

.intro{background: url('../images/main/intro_bg.jpg') no-repeat; width: 100%; min-width: 1400px; height: 700px; background-position: center;}
.intro .intro_tit{text-align: center; padding-top: 100px;}
.intro .intro_tit h5{font-size: 18px; font-weight: bold; color: #c1c7cd; letter-spacing: -1px;}
.intro .intro_tit hr{width: 20px; height: 2px; margin: 20px auto; background: #c1c7cd; border: none;}
.intro .intro_tit h1{font-size: 52px; font-weight: bold; color: #fff;}
.intro .intro_tit p{font-size: 20px; font-weight: 400; color: #fff; margin-top: 30px;}
.intro .intro_cont{width: 1400px; margin: 80px auto 0; display: flex; justify-content: space-between;}
.intro .intro_contbox{ display: flex; align-items: center; background: rgba(255,255,255,.8); width: 454px; height: 170px;}
.intro .intro_contbox .intro_cont_img{width: 95px; height: 95px; margin-right: 20px; margin-left: 50px;}
.intro .intro_contbox .intro_cont_txt h1{font-size: 24px; font-weight: bold;}
.intro .intro_contbox .intro_cont_txt p{font-size: 16px; color: #666; font-weight: 500; margin-top: 10px; letter-spacing: -1px;}

/* intro e */

/* main_popup */
/* [S] 2022-03-10 */
.main_popup{position:absolute;width:1510px;z-index:888;top:120px;left:50%;transform:translateX(-50%)}
.main_popup>div{box-shadow: 5px 5px 5px #4a4a4a;position: absolute; top: 0;}
.main_popup>div:first-child{right: 0}
.main_popup>div:nth-child(2){right:380px;}
.main_popup>div:nth-child(3){right:760px;}
.main_popup>div:nth-child(4){right:1140px;}
.main_popup .popup_cont{width: 370px; height: 500px;}
.main_popup .popup_close{background: #00437f; width: 370px; height: 40px; display: flex; align-items: center; justify-content: space-between; box-sizing: border-box; padding: 0 10px;}
.main_popup .popup_close .chk_box{display: flex; align-items: center;}
.main_popup .popup_close .chk_box input{display: none;}
.main_popup .popup_close .chk_box label{cursor: pointer; letter-spacing: -1px; color: #fff; margin-left: 5px;}
.main_popup .popup_close .chk_box input[type="checkbox"] + label{display: inline-block;     width: 18px; height: 18px; border: 1px solid #222; background: #fff; position: relative; cursor: pointer; color: #222;}
.main_popup .popup_close .chk_box input[type="checkbox"]:checked + label::after{content:'✔'; font-size: 14px; width: 18px; height: 18px; text-align: center; position: absolute; left: 0; top:0; letter-spacing: -1px;}
.main_popup .popup_close .btn{width: 20px; height: 20px; cursor: pointer;}
